html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: rgb(250, 250, 250);
}

button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: white;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: rgb(250, 250, 250);
    transition: 0.3s;
  }
}
#__next {
  display: flex;
  align-items: center;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
  font-size: 16px;
}
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
h1 {
  margin: 0px 10px 0 20px;
}
img {
  max-width: 100%;
  display: block;
}

.MuiSkeleton-text {
  border-radius: 6px;
}
.MuiBottomNavigationAction-root.Mui-selected {
  color: black !important;
}
