.container {
  margin: auto;
  max-width: 600px;
  padding-top: 65px;
  padding-bottom: 56px;
}
.loadingError {
  margin-left: 20px;
  color: red;
}
.pageTitle {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .addPostButton {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      margin-left: 10px;
      width: 20px !important;
      height: 20px;
    }
  }
  h1 {
    display: inline;
  }
}
