.post {
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
  margin: 20px;
  .postHeader {
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    display: flex;
    align-items: center;
    padding: 15px;
    .headerAvatar {
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
    .headerUserName {
      margin: 0 10px;
      width: 50%;
    }
  }
  .postContent {
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    span {
      height: 170px;
      width: 100%;
    }
  }
  .postFooter {
    padding: 16px;
    .postInfoLikes {
      .postLikes {
        font-weight: 500;
        width: 20%;
        height: 16px;
      }
    }
    .postFooterDesc {
      display: flex;
      .postFooterUser {
        font-weight: 500;
        margin-right: 5px;
        width: 60%;
        height: 20px;
      }
    }
    .postComments {
      .commentsLabel {
        color: #8e8e8e;
      }
      ul {
        margin: 0;
        padding-inline-start: 0;
        list-style: none;
        li {
          padding: 2px 0;
          width: 50%;
          span {
            height: 14px;
          }
        }
      }
    }
    .postInfoDate {
      margin-top: 10px;
      p {
        max-width: 35%;
        span {
          height: 16px;
        }
      }
    }
  }
}
