.container {
  margin: auto;
  max-width: 600px;
  padding-top: 65px;
  padding-bottom: 56px;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 1);
}
.loadingError {
  margin-left: 20px;
  color: red;
}
.pageTitle {
  padding-top: 20px;
  display: flex;
  align-items: center;
  h1 {
    display: inline;
    white-space: nowrap;
  }
}
.profileInfo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  h3 {
    margin: 0;
  }
  h6 {
    margin: 0;
  }
  p {
    margin-top: 20px;
  }
  .backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 30px;
    background: white;
    color: black;

    border: 1px solid rgba(219, 219, 219, 1);
    svg {
      height: 20px;
      width: 30px;
    }
    &:hover {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
  }
  .profileAvatar {
    width: 250px;
    height: 250px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
